name: CI Debug

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  linux-x86_64-only:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Build wheel
        uses: PyO3/maturin-action@v1
        with:
          target: x86_64
          args: --release --out dist --find-interpreter
          manylinux: auto
      - name: Upload wheel
        uses: actions/upload-artifact@v5
        with:
          name: wheel-linux-x86_64
          path: dist